In [2]:
import pandas as pd

In [3]:
file = pd.read_csv('Attorney_General_Consumer_Complaints.csv')

In [4]:
file.head()

,OpenedDate,OpenedYear,Status,EstimatedSavings,ActualSavings,BusinessCategory,NAICS,NAICS Name,BusinessName,BusinessStreetLine1,BusinessStreetLine2,BusinessCity,BusinessState,BusinessZip,BusinessLocation,BusinessId,id
0,01/07/2013,2013,Closed,$0.00,$0.00,Advertising & Related Services (includes coupo...,541800-Advertising & Related Services (include...,NaN,NaN,NaN,NaN,Las Vegas,NV,,NaN,242858.0,423344
1,01/07/2013,2013,Closed,$0.00,$0.00,Auto Repair,811100-Automotive Repair & Maintenance,NaN,NaN,NaN,NaN,Spokane Valley,WA,99212,NaN,211907.0,423341
2,01/07/2013,2013,Closed,$0.00,$0.00,Broadband Providers,513200-Cable Networks & Program Distribution,NaN,NaN,NaN,NaN,Puyallup,WA,98373,NaN,221709.0,423366
3,03/22/2013,2013,Closed,$0.00,$190.23,Retail Sales,443111-Household Appliance Stores,NaN,NaN,NaN,NaN,Spokane Valley,WA,99216,NaN,244135.0,428058
4,03/29/2013,2013,Closed,$0.00,$0.00,Insurance,524000-Insurance Carriers & Related Activities,NaN,NaN,NaN,NaN,St. Paul,MN,55101,NaN,132668.0,428298

In [5]:
file.describe()

         OpenedYear     BusinessId             id
count  88633.000000   88626.000000   88633.000000
mean    2015.019880  206468.503408  469938.109102
std        1.462151   71211.101186   28510.749307
min     2013.000000     295.000000  332026.000000
25%     2014.000000  200096.000000  445483.000000
50%     2015.000000  236502.000000  468399.000000
75%     2016.000000  258126.000000  492911.000000
max     2018.000000  286052.000000  525677.000000

In [6]:
type(file.Status)

pandas.core.series.Series

In [7]:
len(file.Status)

88633

In [8]:
file.Status.value_counts()

Closed    87651
Open        881
New         101
Name: Status, dtype: int64

In [9]:
file.Status.values

array(['Closed', 'Closed', 'Closed', ..., 'Closed', 'Closed', 'Closed'], dtype=object)

In [88]:
file.Status.index

RangeIndex(start=0, stop=88633, step=1)

In [89]:
file.Status[1:5]

1    Closed
2    Closed
3    Closed
4    Closed
Name: Status, dtype: object

In [91]:
file.Status[file.Status == 'Open']

Open    881
Name: Status, dtype: int64

In [92]:
file.Status[file.Status == 'Open'].value_counts()

Open    881
Name: Status, dtype: int64

In [93]:
file.Status[file.Status == 'Open'][1:5]

4846    Open
5520    Open
6335    Open
6691    Open
Name: Status, dtype: object

In [95]:
file.Status[file.Status == 'New'].value_counts()

New    101
Name: Status, dtype: int64

In [96]:
file.Status[file.Status == 'New'][1:5]

25     New
173    New
344    New
743    New
Name: Status, dtype: object

In [36]:
file.ActualSavings = file.ActualSavings.dropna()

FINDING WHETHER ANY NAN VALUES STILL EXIST IN DF

In [48]:
file.ActualSavings.describe

<bound method NDFrame.describe of 0           $0.00
1           $0.00
2           $0.00
3         $190.23
4           $0.00
5           $0.00
6           $0.00
7         $239.90
8           $0.00
9           $0.00
10          $0.00
11          $0.00
12          $0.00
13          $0.00
14          $0.00
15          $0.00
16            NaN
17          $0.00
18          $0.00
19          $0.00
20          $0.00
21         $71.08
22        $427.78
23          $0.00
24          $0.00
25          $0.00
26         $50.00
27          $0.00
28       $2300.00
29          $0.00
           ...
88603       $0.00
88604       $0.00
88605       $0.00
88606       $0.00
88607       $0.00
88608       $0.00
88609       $0.00
88610       $0.00
88611       $0.00
88612     $107.40
88613      $77.55
88614       $0.00
88615       $0.00
88616       $0.00
88617       $0.00
88618       $0.00
88619       $0.00
88620       $0.00
88621       $0.00
88622       $0.00
88623       $0.00
88624       $0.00
88625       $0.00
88626       $0.00
88627       $0.00
88628       $0.00
88629       $0.00
88630       $0.00
88631       $0.00
88632       $0.00
Name: ActualSavings, dtype: object>

GETTING A CLOSER LOOK AT THE NAN VALUE AT POSTION 16 IN THE DF

In [42]:
file.ActualSavings[16]

nan

TRYING TO DROP THE 16TH VALUE IN THE DF

In [54]:
file.ActualSavings.drop(file.ActualSavings[16])

ValueError: labels [ nan] not contained in axis

In [39]:
file.ActualSavings[file.ActualSavings == ' nan']

Series([], Name: ActualSavings, dtype: object)

TRYING TO DROP THE ' nan' VALUE AGAIN

In [53]:
file.ActualSavings.drop(' nan')

ValueError: labels [' nan'] not contained in axis