# Install the necessary packages

In [6]:
!pip3 install pandas

Collecting pandas
  Downloading pandas-0.22.0-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (14.9MB)
    100% |████████████████████████████████| 14.9MB 89kB/s  eta 0:00:01
Collecting numpy>=1.9.0 (from pandas)
  Downloading numpy-1.14.0-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (4.7MB)
    100% |████████████████████████████████| 4.7MB 264kB/s ta 0:00:011    28% |█████████▏                      | 1.4MB 15.0MB/s eta 0:00:01
Requirement already satisfied: python-dateutil>=2 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from pandas)
Collecting pytz>=2011k (from pandas)
  Using cached pytz-2017.3-py2.py3-none-any.whl
Requirement already satisfied: six>=1.5 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from python-dateutil>=2->pandas)
Installing collected packages: numpy, pytz, pandas
Successfully installed numpy-1.14.0 pandas-0.22.0 pytz-2017.3

In [7]:
import pandas as pd

In [295]:
import pip

In [296]:
for i in pip.get_installed_distributions(local_only=True):
    print(i)

widgetsnbextension 3.1.3
webencodings 0.5.1
wcwidth 0.1.7
traitlets 4.3.2
tornado 4.5.3
testpath 0.3.1
terminado 0.8.1
six 1.11.0
simplegeneric 0.8.1
setuptools 28.8.0
Send2Trash 1.4.2
pyzmq 16.0.4
pytz 2017.3
python-dateutil 2.6.1
pyparsing 2.2.0
Pygments 2.2.0
ptyprocess 0.5.2
prompt-toolkit 1.0.15
pip 9.0.1
pickleshare 0.7.4
pexpect 4.3.1
parso 0.1.1
pandocfilters 1.4.2
pandas 0.22.0
numpy 1.14.0
notebook 5.3.1
nbformat 4.4.0
nbconvert 5.3.1
mistune 0.8.3
matplotlib 2.1.2
MarkupSafe 1.0
jupyter-core 4.4.0
jupyter-client 5.2.2
jsonschema 2.6.0
Jinja2 2.10
jedi 0.11.1
ipywidgets 7.1.1
ipython 6.2.1
ipython-genutils 0.2.0
ipykernel 4.8.0
html5lib 1.0.1
entrypoints 0.2.3
decorator 4.2.1
cycler 0.10.0
bleach 2.1.2
appnope 0.1.0

# Read in the CSV file using Pandas

In [9]:
file = pd.read_csv('WA-2016/agency_participation.csv')

# Get a quick idea about the data you're dealing with (basic commands)

In [10]:
file.head()

,year,state_name,state_abbr,agency_id,agency_ori,agency_name,agency_population,population_group_code,population_group,reported,months_reported,nibrs_reported,nibrs_months_reported,covered,participated,nibrs_participated
0,2016,Washington,WA,20650,WA0140100,Aberdeen,16100,5,"Cities from 10,000 thru 24,999",1,12,1,12,0,1,1
1,2016,Washington,WA,20593,WA0010000,Adams,9899,8D,"Non-MSA counties under 10,000",1,12,1,12,0,1,1
2,2016,Washington,WA,20815,WA0320600,Airway Heights,6652,6,"Cities from 2,500 thru 9,999",1,12,1,12,0,1,1
3,2016,Washington,WA,20851,WA0380200,Albion,573,7,"Cities under 2,500",0,0,0,0,1,1,1
4,2016,Washington,WA,20678,WA0171400,Algona,3158,6,"Cities from 2,500 thru 9,999",1,12,1,12,0,1,1

In [11]:
file.tail()

,year,state_name,state_abbr,agency_id,agency_ori,agency_name,agency_population,population_group_code,population_group,reported,months_reported,nibrs_reported,nibrs_months_reported,covered,participated,nibrs_participated
312,2016,Washington,WA,20863,WA0390000,Yakima,86704,9B,"MSA counties from 25,000 thru 99,999",1,12,1,12,0,1,1
313,2016,Washington,WA,20868,WA0390500,Yakima,93798,3,"Cities from 50,000 thru 99,000",1,12,1,12,0,1,1
314,2016,Washington,WA,20692,WA0173100,Yarrow Point,1078,7,"Cities under 2,500",1,12,1,12,0,1,1
315,2016,Washington,WA,20831,WA0340900,Yelm,8592,6,"Cities from 2,500 thru 9,999",1,12,1,12,0,1,1
316,2016,Washington,WA,20869,WA0390600,Zillah,3138,6,"Cities from 2,500 thru 9,999",1,12,1,12,0,1,1

In [184]:
file.describe()

,year,agency_id,agency_population,reported,months_reported,nibrs_reported,nibrs_months_reported,covered,participated,nibrs_participated
count,317.0,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000,317.000000
mean,2016.0,20848.444795,22750.227129,0.747634,9.403785,0.690852,8.637224,0.132492,0.873817,0.807571
std,0.0,667.627142,59116.918379,0.435057,4.719444,0.462873,5.309795,0.339561,0.332580,0.394831
min,2016.0,20593.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2016.0,20672.000000,808.000000,0.000000,11.000000,0.000000,0.000000,0.000000,1.000000,1.000000
50%,2016.0,20751.000000,4797.000000,1.000000,12.000000,1.000000,12.000000,0.000000,1.000000,1.000000
75%,2016.0,20830.000000,19193.000000,1.000000,12.000000,1.000000,12.000000,0.000000,1.000000,1.000000
max,2016.0,25905.000000,683700.000000,1.000000,12.000000,1.000000,12.000000,1.000000,1.000000,1.000000

In [186]:
file.count()

year                     317
state_name               317
state_abbr               317
agency_id                317
agency_ori               317
agency_name              317
agency_population        317
population_group_code    317
population_group         317
reported                 317
months_reported          317
nibrs_reported           317
nibrs_months_reported    317
covered                  317
participated             317
nibrs_participated       317
dtype: int64

In [18]:
file.keys()

Index(['year', 'state_name', 'state_abbr', 'agency_id', 'agency_ori',
       'agency_name', 'agency_population', 'population_group_code',
       'population_group', 'reported', 'months_reported', 'nibrs_reported',
       'nibrs_months_reported', 'covered', 'participated',
       'nibrs_participated'],
      dtype='object')

In [189]:
file.agency_population.max()

683700

# Modify and save a version of the describe fn. that suits your needs

In [288]:
file.agency_population.groupby(file.agency_name[:5]).describe()

,count,mean,std,min,25%,50%,75%,max
agency_name,,,,,,,,
Aberdeen,1.0,16100.0,NaN,16100.0,16100.0,16100.0,16100.0,16100.0
Adams,1.0,9899.0,NaN,9899.0,9899.0,9899.0,9899.0,9899.0
Airway Heights,1.0,6652.0,NaN,6652.0,6652.0,6652.0,6652.0,6652.0
Albion,1.0,573.0,NaN,573.0,573.0,573.0,573.0,573.0
Algona,1.0,3158.0,NaN,3158.0,3158.0,3158.0,3158.0,3158.0

In [289]:
describe_first_five = file.agency_population.groupby(file.agency_name[:5]).describe()[['count','max']]

In [290]:
describe_first_five.columns = ['count', 'agency pop']

In [292]:
describe_first_five.max()

count             1.0
agency pop    16100.0
dtype: float64

In [285]:
describe_first_five

                count  agency pop
agency_name
Aberdeen          1.0     16100.0
Adams             1.0      9899.0
Airway Heights    1.0      6652.0
Albion            1.0       573.0
Algona            1.0      3158.0

In [278]:
describe_all = file.agency_population.groupby(file.agency_name).describe()[['max']]

In [279]:
describe_all.columns = ['agency pop']

In [280]:
describe_all.max()

agency pop    683700.0
dtype: float64

In [282]:
describe_all.head()

                agency pop
agency_name
Aberdeen           16100.0
Adams               9899.0
Airway Heights      6652.0
Albion               573.0
Algona              3158.0

# Finding the top result in the df and how many times it's seen ('Garfield, 2')

In [136]:
print(file.agency_name.describe())

count          317
unique         305
top       Garfield
freq             2
Name: agency_name, dtype: object

# Finding where 'Garfield' is indexed

In [234]:
file.agency_name[file.agency_name == 'Garfield']

88    Garfield
89    Garfield
Name: agency_name, dtype: object

# Finding the population(s) in Garfield

In [242]:
file.agency_population[88], file.agency_population[89]

(598, 2211)

# Need to find the max poulation value in the data

In [243]:
file.agency_population.max()

683700

# Need to find where the max population is (Seattle)

In [253]:
file.agency_population[file.agency_population == 683700]

228    683700
Name: agency_population, dtype: int64

In [258]:
file.agency_name[228]

'Seattle'

# Are there any more occurances of Seattle (nope)

In [260]:
file.agency_name[file.agency_name=='Seattle']

228    Seattle
Name: agency_name, dtype: object

# Another way to find where Garfield is indexed using for loop to go through the data

In [171]:
for (key, name) in file.agency_name.items():
    if name == 'Garfield':
        print(key)

88
89

In [144]:
type(file.agency_name)

pandas.core.series.Series

In [149]:
'Aberdeen' in file.agency_name.values

True

In [146]:
file.agency_name[1]

'Adams'

In [151]:
'Adams' in file.agency_name.values

True

In [92]:
print(file.agency_name.tail())

312          Yakima
313          Yakima
314    Yarrow Point
315            Yelm
316          Zillah
Name: agency_name, dtype: object

In [80]:
!pip3 install matplotlib

Collecting matplotlib
  Downloading matplotlib-2.1.2-cp36-cp36m-macosx_10_6_intel.macosx_10_9_intel.macosx_10_9_x86_64.macosx_10_10_intel.macosx_10_10_x86_64.whl (13.2MB)
    100% |████████████████████████████████| 13.2MB 101kB/s eta 0:00:01
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.10.0-py2.py3-none-any.whl
Requirement already satisfied: python-dateutil>=2.1 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: six>=1.10 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: pytz in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from matplotlib)
Requirement already satisfied: numpy>=1.7.1 in /Library/Frameworks/Python.framework/Versions/3.6/lib/python3.6/site-packages (from matplotlib)
Collecting pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 (from matplotlib)
  Using cached pyparsing-2.2.0-py2.py3-none-any.whl
Installing collected packages: cycler, pyparsing, matplotlib
Successfully installed cycler-0.10.0 matplotlib-2.1.2 pyparsing-2.2.0

In [81]:
import matplotlib.pyplot as plt